@import "tailwindcss";

@theme {
  --color-primary: #1a1a1a;
  --color-secondary: #2d2d2d;
  --color-accent:  #F5A623;
  --font-fondamento: 'Fondamento', serif;
}
@keyframes spin-slow {
    from{transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
.animate-spin-slow{
    animation: spin-slow 12s linear infinite;
}

